---
- name: User and group management example
  hosts: test_servers
  become: yes

  vars:
    app_users:
      - name: webadmin
        groups: ['www-data', 'sudo']
        shell: /bin/bash
      - name: appuser
        groups: ['www-data']
        shell: /bin/bash

  tasks:
    - name: Create application users
      user:
        name: "{{ item.name }}"
        groups: "{{ item.groups }}"
        shell: "{{ item.shell }}"
        create_home: yes
        state: present
      loop: "{{ app_users }}"

    - name: Set up SSH directory for users
      file:
        path: "/home/{{ item.name }}/.ssh"
        state: directory
        owner: "{{ item.name }}"
        group: "{{ item.name }}"
        mode: '0700'
      loop: "{{ app_users }}"

    - name: Create application directory
      file:
        path: /opt/myapp
        state: directory
        owner: appuser
        group: www-data
        mode: '0755'

    - name: List created users
      command: getent passwd
      register: all_users
      changed_when: false

    - name: Show created users
      debug:
        msg: "{{ all_users.stdout_lines | select('search', 'webadmin|appuser') | list }}"
